workflows/SãoRafael-Front.json
{
  "nodes": [
    {
      "parameters": {
        "html": "-- =============================================\n-- São Rafael — 006: Create User Function + Seed Instructions\n-- =============================================\n-- IMPORTANT: Do NOT create users via INSERT INTO auth.users.\n-- Supabase GoTrue requires users to be created via its API.\n--\n-- === STEPS TO CREATE ADMIN ===\n--\n-- 1. Call the signup API (via curl, Postman, or PowerShell):\n--\n--    POST https://<SUPABASE_URL>/auth/v1/signup\n--    Headers: { \"apikey\": \"<ANON_KEY>\", \"Content-Type\": \"application/json\" }\n--    Body: {\n--      \"email\": \"admin@saorafael.com\",\n--      \"password\": \"@Admin123\",\n--      \"data\": {\n--        \"company_name\": \"saorafael\",\n--        \"role\": \"admin\",\n--        \"full_name\": \"Administrador São Rafael\"\n--      }\n--    }\n--\n-- 2. Then confirm the email directly in SQL Editor:\n--\n--    UPDATE auth.users\n--    SET email_confirmed_at = NOW()\n--    WHERE email = 'admin@saorafael.com';\n--\n-- =============================================\n\n-- pgcrypto provides crypt() and gen_salt(); on Supabase it lives in the `extensions` schema.\nCREATE EXTENSION IF NOT EXISTS pgcrypto;\n\nCREATE OR REPLACE FUNCTION saorafael_create_user(\n  p_email TEXT,\n  p_password TEXT,\n  p_full_name TEXT DEFAULT '',\n  p_role TEXT DEFAULT 'usuario'\n)\nRETURNS UUID\nLANGUAGE plpgsql\nSECURITY DEFINER\nSET search_path = public, extensions\nAS $$\nDECLARE\n  new_user_id UUID;\nBEGIN\n  IF NOT saorafael_is_admin() THEN\n    RAISE EXCEPTION 'Acesso negado: apenas administradores podem criar usuários.';\n  END IF;\n\n  -- Validate role\n  IF p_role NOT IN ('admin', 'usuario', 'visualizador') THEN\n    RAISE EXCEPTION 'Role inválido. Use: admin, usuario, visualizador';\n  END IF;\n\n  -- Create user in auth.users\n  new_user_id := (\n    SELECT id FROM auth.users\n    WHERE email = p_email\n  );\n\n  IF new_user_id IS NOT NULL THEN\n    RAISE EXCEPTION 'Usuário com este email já existe.';\n  END IF;\n\n  -- Insert into auth.users (Supabase internal)\n  -- NOTE: token columns (confirmation_token, recovery_token, email_change*,\n  -- phone_change*, reauthentication_token) MUST be '' (empty string), never NULL.\n  -- GoTrue scans these as Go strings on login; a NULL value raises\n  -- \"converting NULL to string\" → HTTP 500 with no body, which supabase-js\n  -- surfaces as an empty error object `{}`.\n  INSERT INTO auth.users (\n    instance_id,\n    id,\n    aud,\n    role,\n    email,\n    encrypted_password,\n    email_confirmed_at,\n    raw_app_meta_data,\n    raw_user_meta_data,\n    created_at,\n    updated_at,\n    confirmation_token,\n    recovery_token,\n    email_change,\n    email_change_token_new,\n    email_change_token_current,\n    phone_change,\n    phone_change_token,\n    reauthentication_token\n  ) VALUES (\n    '00000000-0000-0000-0000-000000000000',\n    gen_random_uuid(),\n    'authenticated',\n    'authenticated',\n    p_email,\n    crypt(p_password, gen_salt('bf')),\n    NOW(),\n    jsonb_build_object(\n      'provider', 'email',\n      'providers', jsonb_build_array('email')\n    ),\n    jsonb_build_object(\n      'company_name', 'saorafael',\n      'role', p_role,\n      'full_name', p_full_name\n    ),\n    NOW(),\n    NOW(),\n    '',\n    '',\n    '',\n    '',\n    '',\n    '',\n    '',\n    ''\n  )\n  RETURNING id INTO new_user_id;\n\n  -- Also create identity record\n  INSERT INTO auth.identities (\n    id,\n    user_id,\n    identity_data,\n    provider,\n    provider_id,\n    last_sign_in_at,\n    created_at,\n    updated_at\n  ) VALUES (\n    gen_random_uuid(),\n    new_user_id,\n    jsonb_build_object('sub', new_user_id::text, 'email', p_email),\n    'email',\n    new_user_id::text,\n    NOW(),\n    NOW(),\n    NOW()\n  );\n\n  RETURN new_user_id;\nEND;\n$$;\n\n-- =============================================\n-- REPAIR: fix users already created with NULL token columns\n-- Run this once to unblock logins that fail with an empty `{}` error.\n-- (Safe / idempotent: only touches rows where the column is NULL.)\n-- =============================================\nUPDATE auth.users SET\n  confirmation_token         = COALESCE(confirmation_token, ''),\n  recovery_token             = COALESCE(recovery_token, ''),\n  email_change               = COALESCE(email_change, ''),\n  email_change_token_new     = COALESCE(email_change_token_new, ''),\n  email_change_token_current = COALESCE(email_change_token_current, ''),\n  phone_change               = COALESCE(phone_change, ''),\n  phone_change_token         = COALESCE(phone_change_token, ''),\n  reauthentication_token     = COALESCE(reauthentication_token, '')\nWHERE\n  confirmation_token IS NULL OR\n  recovery_token IS NULL OR\n  email_change IS NULL OR\n  email_change_token_new IS NULL OR\n  email_change_token_current IS NULL OR\n  phone_change IS NULL OR\n  phone_change_token IS NULL OR\n  reauthentication_token IS NULL;\n\n-- =======  DOWN  ========\n-- DROP FUNCTION IF EXISTS saorafael_create_user(TEXT, TEXT, TEXT, TEXT);\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [1120, -64],
      "id": "7e55a9d2-23e1-4ee9-8141-572b6d40d809",
      "name": "HTML"
    },
    {
      "parameters": {
        "path": "saorafael-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [912, -64],
      "id": "bb8733f7-b229-48be-9f73-1721763367fd",
      "name": "Chat",
      "webhookId": "98c63ded-77d1-4ec5-b6a0-bdef197db49a"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1328, -64],
      "id": "380c4ddb-2c6e-4983-adbb-1239ee04bf29",
      "name": "Respond to Chat",
      "alwaysOutputData": false
    }
  ],
  "connections": {
    "HTML": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "03d32a206f2d8840fce482e6c587726f18775bd9177e9401c00ca76d3086ad41"
  }
}
