workflows/SãoRafael-DatabaseSetup.json
{
  "name": "SãoRafael-DatabaseSetup",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "saorafael-DatabaseSetup",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000001",
      "name": "Webhook DatabaseSetup",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1800, -144],
      "webhookId": "db-setup-001"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d1",
              "name": "action",
              "value": "={{ $json.body?.action || 'full_reset' }}",
              "type": "string"
            },
            {
              "id": "d2",
              "name": "triggeredBy",
              "value": "={{ $json.body?.triggeredBy || $json.headers?.['x-user-id'] || 'system' }}",
              "type": "string"
            },
            {
              "id": "d3",
              "name": "timestamp",
              "value": "={{ $json.body?.timestamp || $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000002",
      "name": "Extract Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1560, -144]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "action-rag-only",
              "leftValue": "={{ $json.action }}",
              "rightValue": "rag_only",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-00000000000A",
      "name": "Is RAG Only?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-1440, -144]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ============================================================\n-- SÃO RAFAEL - RAG ONLY RESET\n-- Trunca apenas a tabela de vetores do RAG.\n-- Preserva: orçamentos, clientes, chat history, usuários.\n-- ============================================================\nCREATE EXTENSION IF NOT EXISTS vector;\n\nCREATE TABLE IF NOT EXISTS saorafael_documents (\n  id bigserial PRIMARY KEY,\n  content text,\n  metadata jsonb,\n  embedding vector(1536)\n);\n\nTRUNCATE TABLE saorafael_documents;\n\nCREATE OR REPLACE FUNCTION saorafael_match_documents (\n  query_embedding vector(1536),\n  match_count int DEFAULT NULL,\n  filter jsonb DEFAULT '{}'\n) RETURNS TABLE (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nLANGUAGE plpgsql\nAS $$\n#variable_conflict use_column\nBEGIN\n  RETURN QUERY\n  SELECT id, content, metadata, 1 - (saorafael_documents.embedding <=> query_embedding) AS similarity\n  FROM saorafael_documents\n  WHERE metadata @> filter\n  ORDER BY saorafael_documents.embedding <=> query_embedding\n  LIMIT match_count;\nEND;\n$$;\n\nSELECT 'RAG reset completed (orçamentos e clientes preservados)' AS result, NOW() AS executed_at;",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-00000000000B",
      "name": "Reset RAG Only",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-1200, -288],
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ============================================================\n-- SÃO RAFAEL - DATABASE SETUP (Full Reset + Migration)\n-- Executes all migrations in sequence\n-- ============================================================\n\n-- Enable required extensions\nCREATE EXTENSION IF NOT EXISTS vector;\nCREATE EXTENSION IF NOT EXISTS pg_trgm;\nCREATE EXTENSION IF NOT EXISTS \"uuid-ossp\";\n\n-- ============================================\n-- 1. BASE TABLES\n-- ============================================\nCREATE TABLE IF NOT EXISTS saorafael_users (\n  id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),\n  email TEXT UNIQUE NOT NULL,\n  full_name TEXT,\n  role TEXT DEFAULT 'usuario' CHECK (role IN ('admin','usuario','visualizador')),\n  confirmed BOOLEAN DEFAULT FALSE,\n  company_name TEXT DEFAULT 'saorafael',\n  created_at TIMESTAMPTZ DEFAULT NOW(),\n  updated_at TIMESTAMPTZ DEFAULT NOW()\n);\n\nCREATE TABLE IF NOT EXISTS saorafael_wizard_submission (\n  id BIGSERIAL PRIMARY KEY,\n  session_id TEXT UNIQUE,\n  user_id UUID REFERENCES auth.users(id) ON DELETE SET NULL,\n  client_id UUID,\n  form_data JSONB NOT NULL DEFAULT '{}',\n  status TEXT DEFAULT 'submitted' CHECK (status IN ('submitted','processing','completed','error')),\n  protocol TEXT,\n  submitted_at TIMESTAMPTZ DEFAULT NOW(),\n  processed_at TIMESTAMPTZ,\n  notes TEXT,\n  created_at TIMESTAMPTZ DEFAULT NOW()\n);\n\nCREATE TABLE IF NOT EXISTS saorafael_chat_message (\n  id BIGSERIAL PRIMARY KEY,\n  session_id TEXT NOT NULL,\n  user_id UUID REFERENCES auth.users(id) ON DELETE SET NULL,\n  message JSONB NOT NULL DEFAULT '{}',\n  created_at TIMESTAMPTZ DEFAULT NOW()\n);\n\n-- ============================================\n-- 2. CLIENTS TABLE\n-- ============================================\nCREATE TABLE IF NOT EXISTS saorafael_clients (\n  id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),\n  razao_social TEXT NOT NULL,\n  cnpj_cpf TEXT,\n  inscricao_estadual TEXT,\n  endereco TEXT,\n  cidade TEXT,\n  estado TEXT,\n  cep TEXT,\n  contato_nome TEXT,\n  contato_telefone TEXT,\n  contato_email TEXT,\n  dados_tecnicos TEXT,\n  local_instalacao TEXT,\n  telefone TEXT,\n  email TEXT,\n  observacoes TEXT,\n  created_by UUID REFERENCES auth.users(id) ON DELETE SET NULL,\n  created_at TIMESTAMPTZ DEFAULT NOW(),\n  updated_at TIMESTAMPTZ DEFAULT NOW()\n);\n\nDO $$ BEGIN\n  IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'saorafael_clients' AND column_name = 'observacoes') THEN\n    ALTER TABLE saorafael_clients ADD COLUMN observacoes TEXT;\n  END IF;\nEND $$;\n\nCREATE INDEX IF NOT EXISTS idx_saorafael_clients_razao_social_trgm ON saorafael_clients USING gin (razao_social gin_trgm_ops);\nCREATE INDEX IF NOT EXISTS idx_saorafael_clients_cnpj_cpf ON saorafael_clients (cnpj_cpf);\nCREATE INDEX IF NOT EXISTS idx_saorafael_clients_cidade ON saorafael_clients (cidade);\n\nDO $$ BEGIN\n  IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'saorafael_wizard_submission' AND column_name = 'client_id') THEN\n    ALTER TABLE saorafael_wizard_submission ADD COLUMN client_id UUID;\n  END IF;\nEND $$;\n\n-- ============================================\n-- 3. VECTOR STORE: TRUNCATE + RECREATE (RAG Reset)\n-- ============================================\nCREATE TABLE IF NOT EXISTS saorafael_documents (\n  id bigserial PRIMARY KEY,\n  content text,\n  metadata jsonb,\n  embedding vector(1536)\n);\nTRUNCATE TABLE saorafael_documents;\n\nCREATE OR REPLACE FUNCTION saorafael_match_documents (\n  query_embedding vector(1536),\n  match_count int DEFAULT NULL,\n  filter jsonb DEFAULT '{}'\n) RETURNS TABLE (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nLANGUAGE plpgsql\nAS $$\n#variable_conflict use_column\nBEGIN\n  RETURN QUERY\n  SELECT id, content, metadata, 1 - (saorafael_documents.embedding <=> query_embedding) AS similarity\n  FROM saorafael_documents\n  WHERE metadata @> filter\n  ORDER BY saorafael_documents.embedding <=> query_embedding\n  LIMIT match_count;\nEND;\n$$;\n\n-- ============================================\n-- 4. CHAT HISTORY: TRUNCATE\n-- ============================================\nTRUNCATE TABLE saorafael_chat_message;\n\n-- ============================================\n-- 5. USER CRUD FUNCTIONS (from migration 002)\n-- ============================================\nCREATE OR REPLACE FUNCTION saorafael_is_admin()\nRETURNS BOOLEAN\nLANGUAGE plpgsql\nSECURITY DEFINER\nSET search_path = public\nAS $$\nBEGIN\n  RETURN EXISTS (\n    SELECT 1 FROM auth.users\n    WHERE id = auth.uid()\n      AND raw_user_meta_data->>'company_name' = 'saorafael'\n      AND raw_user_meta_data->>'role' = 'admin'\n  );\nEND;\n$$;\n\nCREATE OR REPLACE FUNCTION saorafael_list_users()\nRETURNS TABLE (id UUID, email TEXT, created_at TIMESTAMPTZ, last_sign_in_at TIMESTAMPTZ, role TEXT, full_name TEXT, confirmed BOOLEAN)\nLANGUAGE plpgsql\nSECURITY DEFINER\nSET search_path = public\nAS $$\nBEGIN\n  IF NOT saorafael_is_admin() THEN\n    RAISE EXCEPTION 'Acesso negado: apenas administradores.';\n  END IF;\n  RETURN QUERY\n  SELECT u.id, u.email::TEXT, u.created_at, u.last_sign_in_at,\n    COALESCE(u.raw_user_meta_data->>'role', 'visualizador')::TEXT,\n    COALESCE(u.raw_user_meta_data->>'full_name', '')::TEXT,\n    (u.email_confirmed_at IS NOT NULL)\n  FROM auth.users u\n  WHERE u.raw_user_meta_data->>'company_name' = 'saorafael'\n  ORDER BY u.created_at DESC;\nEND;\n$$;\n\nCREATE OR REPLACE FUNCTION saorafael_confirm_user(target_user_id UUID)\nRETURNS VOID LANGUAGE plpgsql SECURITY DEFINER SET search_path = public AS $$\nBEGIN\n  IF NOT saorafael_is_admin() THEN RAISE EXCEPTION 'Acesso negado'; END IF;\n  UPDATE auth.users SET email_confirmed_at = NOW(), updated_at = NOW()\n  WHERE id = target_user_id AND raw_user_meta_data->>'company_name' = 'saorafael';\nEND;\n$$;\n\nCREATE OR REPLACE FUNCTION saorafael_update_user(target_user_id UUID, new_role TEXT DEFAULT NULL, new_full_name TEXT DEFAULT NULL)\nRETURNS VOID LANGUAGE plpgsql SECURITY DEFINER SET search_path = public AS $$\nDECLARE meta JSONB;\nBEGIN\n  IF NOT saorafael_is_admin() THEN RAISE EXCEPTION 'Acesso negado'; END IF;\n  SELECT raw_user_meta_data INTO meta FROM auth.users WHERE id = target_user_id AND raw_user_meta_data->>'company_name' = 'saorafael';\n  IF meta IS NULL THEN RAISE EXCEPTION 'Usuário não encontrado'; END IF;\n  IF new_role IS NOT NULL THEN meta = jsonb_set(meta, '{role}', to_jsonb(new_role)); END IF;\n  IF new_full_name IS NOT NULL THEN meta = jsonb_set(meta, '{full_name}', to_jsonb(new_full_name)); END IF;\n  UPDATE auth.users SET raw_user_meta_data = meta, updated_at = NOW() WHERE id = target_user_id;\nEND;\n$$;\n\nCREATE OR REPLACE FUNCTION saorafael_delete_user(target_user_id UUID)\nRETURNS VOID LANGUAGE plpgsql SECURITY DEFINER SET search_path = public AS $$\nBEGIN\n  IF NOT saorafael_is_admin() THEN RAISE EXCEPTION 'Acesso negado'; END IF;\n  IF target_user_id = auth.uid() THEN RAISE EXCEPTION 'Não pode excluir a si mesmo'; END IF;\n  DELETE FROM auth.users WHERE id = target_user_id AND raw_user_meta_data->>'company_name' = 'saorafael';\nEND;\n$$;\n\n-- ============================================\n-- 6. CLIENT CRUD FUNCTIONS (from migration 011)\n-- ============================================\nCREATE OR REPLACE FUNCTION saorafael_search_clients(p_query TEXT)\nRETURNS TABLE (id UUID, razao_social TEXT, cnpj_cpf TEXT, telefone TEXT, email TEXT, cidade TEXT, estado TEXT, total_orcamentos BIGINT, ultimo_orcamento TIMESTAMPTZ)\nLANGUAGE plpgsql SECURITY DEFINER SET search_path = public AS $$\nBEGIN\n  RETURN QUERY\n  SELECT c.id, c.razao_social, c.cnpj_cpf, c.telefone, c.email, c.cidade, c.estado,\n    COUNT(s.id)::BIGINT AS total_orcamentos, MAX(s.submitted_at)::TIMESTAMPTZ AS ultimo_orcamento\n  FROM saorafael_clients c\n  LEFT JOIN saorafael_wizard_submission s ON s.client_id = c.id\n  WHERE REPLACE(REPLACE(REPLACE(c.cnpj_cpf, '.', ''), '-', ''), '/', '') ILIKE '%' || REPLACE(REPLACE(REPLACE(p_query, '.', ''), '-', ''), '/', '') || '%'\n    OR c.razao_social ILIKE '%' || p_query || '%'\n    OR REPLACE(REPLACE(REPLACE(REPLACE(c.telefone, '(', ''), ')', ''), '-', ''), ' ', '') ILIKE '%' || REPLACE(REPLACE(REPLACE(REPLACE(p_query, '(', ''), ')', ''), '-', ''), ' ', '') || '%'\n  GROUP BY c.id, c.razao_social, c.cnpj_cpf, c.telefone, c.email, c.cidade, c.estado\n  ORDER BY CASE WHEN REPLACE(REPLACE(REPLACE(c.cnpj_cpf, '.', ''), '-', ''), '/', '') = REPLACE(REPLACE(REPLACE(p_query, '.', ''), '-', ''), '/', '') THEN 0 ELSE 1 END, c.razao_social <-> p_query, MAX(s.submitted_at) DESC NULLS LAST\n  LIMIT 10;\nEND;\n$$;\n\nCREATE OR REPLACE FUNCTION saorafael_client_detail(p_client_id UUID)\nRETURNS TABLE (id UUID, razao_social TEXT, cnpj_cpf TEXT, inscricao_estadual TEXT, telefone TEXT, email TEXT, cidade TEXT, estado TEXT, cep TEXT, endereco TEXT, local_instalacao TEXT, contato_nome TEXT, contato_telefone TEXT, contato_email TEXT, dados_tecnicos TEXT, created_at TIMESTAMPTZ)\nLANGUAGE plpgsql SECURITY DEFINER SET search_path = public AS $$\nBEGIN\n  RETURN QUERY SELECT c.id, c.razao_social, c.cnpj_cpf, c.inscricao_estadual, c.telefone, c.email, c.cidade, c.estado, c.cep, c.endereco, c.local_instalacao, c.contato_nome, c.contato_telefone, c.contato_email, c.dados_tecnicos, c.created_at FROM saorafael_clients c WHERE c.id = p_client_id;\nEND;\n$$;\n\nCREATE OR REPLACE FUNCTION saorafael_upsert_client(\n  p_razao_social TEXT, p_cnpj_cpf TEXT DEFAULT NULL, p_telefone TEXT DEFAULT NULL, p_email TEXT DEFAULT NULL,\n  p_cidade TEXT DEFAULT NULL, p_estado TEXT DEFAULT NULL, p_cep TEXT DEFAULT NULL, p_endereco TEXT DEFAULT NULL,\n  p_local_instalacao TEXT DEFAULT NULL, p_contato_nome TEXT DEFAULT NULL, p_contato_telefone TEXT DEFAULT NULL,\n  p_contato_email TEXT DEFAULT NULL, p_inscricao_estadual TEXT DEFAULT NULL\n)\nRETURNS UUID LANGUAGE plpgsql SECURITY DEFINER SET search_path = public AS $$\nDECLARE v_id UUID;\nBEGIN\n  IF p_cnpj_cpf IS NOT NULL AND TRIM(p_cnpj_cpf) != '' THEN\n    SELECT sc.id INTO v_id FROM saorafael_clients sc WHERE sc.cnpj_cpf = TRIM(p_cnpj_cpf);\n  END IF;\n  IF v_id IS NOT NULL THEN\n    UPDATE saorafael_clients SET\n      razao_social = COALESCE(NULLIF(TRIM(p_razao_social), ''), razao_social),\n      telefone = COALESCE(NULLIF(TRIM(p_telefone), ''), telefone),\n      email = COALESCE(NULLIF(TRIM(p_email), ''), email),\n      cidade = COALESCE(NULLIF(TRIM(p_cidade), ''), cidade),\n      estado = COALESCE(NULLIF(TRIM(p_estado), ''), estado),\n      cep = COALESCE(NULLIF(TRIM(p_cep), ''), cep),\n      endereco = COALESCE(NULLIF(TRIM(p_endereco), ''), endereco),\n      local_instalacao = COALESCE(NULLIF(TRIM(p_local_instalacao), ''), local_instalacao),\n      contato_nome = COALESCE(NULLIF(TRIM(p_contato_nome), ''), contato_nome),\n      contato_telefone = COALESCE(NULLIF(TRIM(p_contato_telefone), ''), contato_telefone),\n      contato_email = COALESCE(NULLIF(TRIM(p_contato_email), ''), contato_email),\n      inscricao_estadual = COALESCE(NULLIF(TRIM(p_inscricao_estadual), ''), inscricao_estadual),\n      updated_at = NOW()\n    WHERE saorafael_clients.id = v_id;\n  ELSE\n    INSERT INTO saorafael_clients (razao_social, cnpj_cpf, telefone, email, cidade, estado, cep, endereco, local_instalacao, contato_nome, contato_telefone, contato_email, inscricao_estadual, created_by)\n    VALUES (TRIM(p_razao_social), NULLIF(TRIM(p_cnpj_cpf),''), NULLIF(TRIM(p_telefone),''), NULLIF(TRIM(p_email),''), NULLIF(TRIM(p_cidade),''), NULLIF(TRIM(p_estado),''), NULLIF(TRIM(p_cep),''), NULLIF(TRIM(p_endereco),''), NULLIF(TRIM(p_local_instalacao),''), NULLIF(TRIM(p_contato_nome),''), NULLIF(TRIM(p_contato_telefone),''), NULLIF(TRIM(p_contato_email),''), NULLIF(TRIM(p_inscricao_estadual),''), auth.uid())\n    RETURNING saorafael_clients.id INTO v_id;\n  END IF;\n  RETURN v_id;\nEND;\n$$;\n\nCREATE OR REPLACE FUNCTION saorafael_delete_client(p_client_id UUID)\nRETURNS JSONB LANGUAGE plpgsql SECURITY DEFINER SET search_path = public AS $$\nDECLARE v_deleted INT; v_razao TEXT;\nBEGIN\n  SELECT razao_social INTO v_razao FROM saorafael_clients WHERE id = p_client_id;\n  IF v_razao IS NULL THEN RETURN jsonb_build_object('success', false, 'error', 'Cliente não encontrado'); END IF;\n  DELETE FROM saorafael_wizard_submission WHERE client_id = p_client_id;\n  GET DIAGNOSTICS v_deleted = ROW_COUNT;\n  DELETE FROM saorafael_clients WHERE id = p_client_id;\n  RETURN jsonb_build_object('success', true, 'cliente', v_razao, 'orcamentos_removidos', v_deleted);\nEND;\n$$;\n\nCREATE OR REPLACE FUNCTION saorafael_delete_submission_smart(p_submission_id BIGINT)\nRETURNS JSONB LANGUAGE plpgsql SECURITY DEFINER SET search_path = public AS $$\nDECLARE v_client_id UUID; v_protocol TEXT; v_remaining INT; v_client_deleted BOOLEAN := false; v_razao TEXT;\nBEGIN\n  SELECT client_id, protocol INTO v_client_id, v_protocol FROM saorafael_wizard_submission WHERE id = p_submission_id;\n  IF v_protocol IS NULL THEN RETURN jsonb_build_object('success', false, 'error', 'Orçamento não encontrado'); END IF;\n  DELETE FROM saorafael_wizard_submission WHERE id = p_submission_id;\n  IF v_client_id IS NOT NULL THEN\n    SELECT COUNT(*) INTO v_remaining FROM saorafael_wizard_submission WHERE client_id = v_client_id;\n    IF v_remaining = 0 THEN\n      SELECT razao_social INTO v_razao FROM saorafael_clients WHERE id = v_client_id;\n      DELETE FROM saorafael_clients WHERE id = v_client_id;\n      v_client_deleted := true;\n    END IF;\n  END IF;\n  RETURN jsonb_build_object('success', true, 'protocol', v_protocol, 'client_deleted', v_client_deleted, 'client_name', COALESCE(v_razao, null));\nEND;\n$$;\n\n-- ============================================\n-- 7. RLS POLICIES\n-- ============================================\nALTER TABLE saorafael_wizard_submission ENABLE ROW LEVEL SECURITY;\nALTER TABLE saorafael_chat_message ENABLE ROW LEVEL SECURITY;\nALTER TABLE saorafael_clients ENABLE ROW LEVEL SECURITY;\n\nDO $$ BEGIN\n  DROP POLICY IF EXISTS saorafael_clients_select_policy ON saorafael_clients;\n  DROP POLICY IF EXISTS saorafael_clients_insert_policy ON saorafael_clients;\n  DROP POLICY IF EXISTS saorafael_clients_update_own ON saorafael_clients;\n  DROP POLICY IF EXISTS saorafael_clients_update_admin ON saorafael_clients;\n  DROP POLICY IF EXISTS saorafael_clients_delete_policy ON saorafael_clients;\n  CREATE POLICY saorafael_clients_select_policy ON saorafael_clients FOR SELECT TO authenticated USING (true);\n  CREATE POLICY saorafael_clients_insert_policy ON saorafael_clients FOR INSERT TO authenticated WITH CHECK (created_by = auth.uid());\n  CREATE POLICY saorafael_clients_update_own ON saorafael_clients FOR UPDATE TO authenticated USING (created_by = auth.uid() OR saorafael_is_admin());\n  CREATE POLICY saorafael_clients_delete_policy ON saorafael_clients FOR DELETE TO authenticated USING (saorafael_is_admin());\nEND $$;\n\nDO $$ BEGIN\n  DROP POLICY IF EXISTS saorafael_submission_select_all ON saorafael_wizard_submission;\n  DROP POLICY IF EXISTS saorafael_submission_insert ON saorafael_wizard_submission;\n  DROP POLICY IF EXISTS saorafael_submission_update ON saorafael_wizard_submission;\n  DROP POLICY IF EXISTS saorafael_submission_delete ON saorafael_wizard_submission;\n  CREATE POLICY saorafael_submission_select_all ON saorafael_wizard_submission FOR SELECT TO authenticated USING (true);\n  CREATE POLICY saorafael_submission_insert ON saorafael_wizard_submission FOR INSERT TO authenticated WITH CHECK (true);\n  CREATE POLICY saorafael_submission_update ON saorafael_wizard_submission FOR UPDATE TO authenticated USING (user_id = auth.uid() OR saorafael_is_admin());\n  CREATE POLICY saorafael_submission_delete ON saorafael_wizard_submission FOR DELETE TO authenticated USING (saorafael_is_admin());\nEND $$;\n\nDO $$ BEGIN\n  DROP POLICY IF EXISTS saorafael_chat_select ON saorafael_chat_message;\n  DROP POLICY IF EXISTS saorafael_chat_insert ON saorafael_chat_message;\n  DROP POLICY IF EXISTS saorafael_chat_delete ON saorafael_chat_message;\n  CREATE POLICY saorafael_chat_select ON saorafael_chat_message FOR SELECT TO authenticated USING (user_id = auth.uid() OR saorafael_is_admin());\n  CREATE POLICY saorafael_chat_insert ON saorafael_chat_message FOR INSERT TO authenticated WITH CHECK (true);\n  CREATE POLICY saorafael_chat_delete ON saorafael_chat_message FOR DELETE TO authenticated USING (user_id = auth.uid() OR saorafael_is_admin());\nEND $$;\n\nDO $$ BEGIN\n  DROP POLICY IF EXISTS saorafael_clients_service_role ON saorafael_clients;\n  DROP POLICY IF EXISTS saorafael_submission_service_role ON saorafael_wizard_submission;\n  DROP POLICY IF EXISTS saorafael_chat_service_role ON saorafael_chat_message;\n  CREATE POLICY saorafael_clients_service_role ON saorafael_clients FOR ALL TO service_role USING (true) WITH CHECK (true);\n  CREATE POLICY saorafael_submission_service_role ON saorafael_wizard_submission FOR ALL TO service_role USING (true) WITH CHECK (true);\n  CREATE POLICY saorafael_chat_service_role ON saorafael_chat_message FOR ALL TO service_role USING (true) WITH CHECK (true);\nEND $$;\n\n-- ============================================\n-- 8. SESSION MANAGEMENT FUNCTIONS (migrations 005/010)\n-- ============================================\nDROP FUNCTION IF EXISTS saorafael_list_sessions();\nCREATE FUNCTION saorafael_list_sessions()\nRETURNS TABLE (session_id TEXT, titulo TEXT, data_inicio TIMESTAMPTZ, data_ultimo TIMESTAMPTZ, total_mensagens BIGINT)\nLANGUAGE plpgsql SECURITY DEFINER SET search_path = public AS $$\nBEGIN\n  RETURN QUERY\n  SELECT m.session_id::TEXT,\n    LEFT(SPLIT_PART((SELECT m2.message->>'content' FROM saorafael_chat_message m2 WHERE m2.session_id = m.session_id AND m2.message->>'type' = 'human' ORDER BY m2.created_at ASC LIMIT 1), '[CONTEXTO', 1), 80)::TEXT AS titulo,\n    MIN(m.created_at)::TIMESTAMPTZ, MAX(m.created_at)::TIMESTAMPTZ, COUNT(*)::BIGINT\n  FROM saorafael_chat_message m\n  WHERE m.user_id = auth.uid() OR m.user_id IS NULL\n  GROUP BY m.session_id\n  ORDER BY MAX(m.created_at) DESC;\nEND;\n$$;\n\nDROP FUNCTION IF EXISTS saorafael_get_history(TEXT);\nCREATE FUNCTION saorafael_get_history(p_session_id TEXT)\nRETURNS TABLE (id BIGINT, message JSONB, created_at TIMESTAMPTZ)\nLANGUAGE plpgsql SECURITY DEFINER SET search_path = public AS $$\nBEGIN\n  RETURN QUERY SELECT cm.id::BIGINT, cm.message::JSONB, cm.created_at::TIMESTAMPTZ\n  FROM saorafael_chat_message cm WHERE cm.session_id = p_session_id ORDER BY cm.created_at ASC;\nEND;\n$$;\n\nDROP FUNCTION IF EXISTS saorafael_delete_session(TEXT);\nCREATE FUNCTION saorafael_delete_session(p_session_id TEXT)\nRETURNS VOID LANGUAGE plpgsql SECURITY DEFINER SET search_path = public AS $$\nBEGIN\n  DELETE FROM saorafael_chat_message WHERE session_id = p_session_id;\nEND;\n$$;\n\nCREATE OR REPLACE FUNCTION saorafael_prune_history(p_session_id TEXT, p_keep_last INT DEFAULT 10)\nRETURNS INT LANGUAGE plpgsql SECURITY DEFINER SET search_path = public AS $$\nDECLARE deleted_count INT;\nBEGIN\n  WITH to_keep AS (SELECT cm.id FROM saorafael_chat_message cm WHERE cm.session_id = p_session_id ORDER BY cm.created_at DESC LIMIT p_keep_last)\n  DELETE FROM saorafael_chat_message WHERE session_id = p_session_id AND id NOT IN (SELECT id FROM to_keep);\n  GET DIAGNOSTICS deleted_count = ROW_COUNT;\n  RETURN deleted_count;\nEND;\n$$;\n\nCREATE OR REPLACE FUNCTION saorafael_update_own_name(new_full_name TEXT)\nRETURNS VOID LANGUAGE plpgsql SECURITY DEFINER SET search_path = public AS $$\nDECLARE meta JSONB;\nBEGIN\n  IF auth.uid() IS NULL THEN RAISE EXCEPTION 'Não autenticado.'; END IF;\n  SELECT raw_user_meta_data INTO meta FROM auth.users WHERE id = auth.uid() AND raw_user_meta_data->>'company_name' = 'saorafael';\n  IF meta IS NULL THEN RAISE EXCEPTION 'Usuário não encontrado.'; END IF;\n  meta = jsonb_set(meta, '{full_name}', to_jsonb(new_full_name));\n  UPDATE auth.users SET raw_user_meta_data = meta, updated_at = NOW() WHERE id = auth.uid();\nEND;\n$$;\n\n-- ============================================\n-- 9. CREATE USER FUNCTION (migration 006)\n-- ============================================\nCREATE EXTENSION IF NOT EXISTS pgcrypto;\nCREATE OR REPLACE FUNCTION saorafael_create_user(p_email TEXT, p_password TEXT, p_full_name TEXT DEFAULT '', p_role TEXT DEFAULT 'usuario')\nRETURNS UUID LANGUAGE plpgsql SECURITY DEFINER SET search_path = public AS $$\nDECLARE new_user_id UUID;\nBEGIN\n  IF NOT saorafael_is_admin() THEN RAISE EXCEPTION 'Acesso negado'; END IF;\n  IF p_role NOT IN ('admin','usuario','visualizador') THEN RAISE EXCEPTION 'Role inválido'; END IF;\n  IF EXISTS (SELECT 1 FROM auth.users WHERE email = p_email) THEN RAISE EXCEPTION 'Usuário com este email já existe.'; END IF;\n  INSERT INTO auth.users (instance_id, id, aud, role, email, encrypted_password, email_confirmed_at, raw_user_meta_data, created_at, updated_at)\n  VALUES ('00000000-0000-0000-0000-000000000000', gen_random_uuid(), 'authenticated', 'authenticated', p_email, crypt(p_password, gen_salt('bf')), NOW(),\n    jsonb_build_object('company_name','saorafael','role',p_role,'full_name',p_full_name), NOW(), NOW())\n  RETURNING id INTO new_user_id;\n  INSERT INTO auth.identities (id, user_id, identity_data, provider, provider_id, last_sign_in_at, created_at, updated_at)\n  VALUES (gen_random_uuid(), new_user_id, jsonb_build_object('sub', new_user_id::text, 'email', p_email), 'email', new_user_id::text, NOW(), NOW(), NOW());\n  RETURN new_user_id;\nEND;\n$$;\n\n-- ============================================\n-- 10. CLIENT SUBMISSIONS FUNCTION (migration 011)\n-- ============================================\nCREATE OR REPLACE FUNCTION saorafael_client_submissions(p_client_id UUID)\nRETURNS TABLE (id BIGINT, protocol TEXT, status TEXT, tipo_produto TEXT, dimensoes TEXT, submitted_at TIMESTAMPTZ, processed_at TIMESTAMPTZ)\nLANGUAGE plpgsql SECURITY DEFINER SET search_path = public AS $$\nBEGIN\n  RETURN QUERY SELECT s.id::BIGINT, s.protocol::TEXT, s.status::TEXT,\n    (s.form_data->'step1'->>'tipo_produto')::TEXT,\n    (COALESCE(s.form_data->'step3'->>'comprimento','?')||'x'||COALESCE(s.form_data->'step3'->>'largura','?')||'x'||COALESCE(s.form_data->'step3'->>'altura','?')||'m')::TEXT,\n    s.submitted_at::TIMESTAMPTZ, s.processed_at::TIMESTAMPTZ\n  FROM saorafael_wizard_submission s WHERE s.client_id = p_client_id ORDER BY s.submitted_at DESC;\nEND;\n$$;\n\n-- ============================================\n-- 11. AUTO USER_ID TRIGGER (migration 004)\n-- ============================================\nCREATE OR REPLACE FUNCTION saorafael_set_chat_user_id()\nRETURNS TRIGGER LANGUAGE plpgsql SECURITY DEFINER SET search_path = public AS $$\nBEGIN\n  IF NEW.user_id IS NULL AND auth.uid() IS NOT NULL THEN NEW.user_id = auth.uid(); END IF;\n  RETURN NEW;\nEND;\n$$;\nDROP TRIGGER IF EXISTS trg_saorafael_chat_user_id ON saorafael_chat_message;\nCREATE TRIGGER trg_saorafael_chat_user_id BEFORE INSERT ON saorafael_chat_message FOR EACH ROW EXECUTE FUNCTION saorafael_set_chat_user_id();\n\n-- ============================================\n-- 12. CHAT SESSIONS VIEW (migration 001)\n-- ============================================\nCREATE OR REPLACE VIEW saorafael_chat_sessions AS\nSELECT m.session_id, MIN(m.created_at) AS data_inicio, MAX(m.created_at) AS data_ultimo, COUNT(*) AS total_mensagens,\n  (SELECT m2.message->>'content' FROM saorafael_chat_message m2 WHERE m2.session_id = m.session_id AND m2.message->>'type' = 'human' ORDER BY m2.created_at ASC LIMIT 1) AS titulo\nFROM saorafael_chat_message m GROUP BY m.session_id ORDER BY MAX(m.created_at) DESC;\n\nSELECT 'Database setup completed successfully' AS result, NOW() AS executed_at;",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000003",
      "name": "Run Migrations + Reset RAG",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-1320, -144],
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-result",
              "leftValue": "={{ $json.result }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000004",
      "name": "Migration OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-1080, -144]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "61ggMipWWFCTgvGN",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000007",
      "name": "Trigger RAG Reindex",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [-960, -240],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, action: $('Extract Params').first().json.action, message: ($('Extract Params').first().json.action === 'rag_only') ? 'RAG resetado e documentos do Drive reindexados com sucesso. Orçamentos, clientes e chat preservados.' : 'Reset completo concluído e documentos do Drive reindexados. Chat limpo, orçamentos e clientes preservados.', reindex_completed: true, executed_at: $('Migration OK?').first().json.executed_at, triggered_by: $('Extract Params').first().json.triggeredBy }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000005",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-840, -240]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error?.message || $json.message || 'Migration failed', message: 'Erro ao executar database setup: ' + ($json.error?.message || $json.message || 'Verifique os logs do n8n.') }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-000000000006",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-840, -48]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook DatabaseSetup": {
      "main": [
        [
          {
            "node": "Extract Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Params": {
      "main": [
        [
          {
            "node": "Is RAG Only?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is RAG Only?": {
      "main": [
        [
          {
            "node": "Reset RAG Only",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run Migrations + Reset RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset RAG Only": {
      "main": [
        [
          {
            "node": "Migration OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Migrations + Reset RAG": {
      "main": [
        [
          {
            "node": "Migration OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Migration OK?": {
      "main": [
        [
          {
            "node": "Trigger RAG Reindex",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger RAG Reindex": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "v1-20250101-000000",
  "meta": {
    "instanceId": "03d32a206f2d8840fce482e6c587726f18775bd9177e9401c00ca76d3086ad41"
  },
  "id": "DBSetup001",
  "tags": []
}
